.container
  position: relative
.clear
  clear: both

.content_wrap
  :padding
    :right 200px
  .content
    :margin 0 6rem


.header
  :padding 1rem

a.logo
  .icon
    :display inline-block
    :width 24px
    :height 24px
    :background url(../images/logo.png) no-repeat
  :color rgb(173,173,173)
  span
    :vertical-align middle
  &:hover
    :text-decoration none

.page_heading
  :padding 1rem 0
    :bottom 1.6rem
  :margin 1rem 0
  :text-align center
  :border
    :bottom solid 1px rgb(230,230,230)
  .page_title
    :font-weight 300
    :font-size 2.8rem
    :color rgb(100,100,100)
a.subtitle
  :color rgb(100,100,100)
  :text-decoration none
  &:hover
    :text-decoration none
    span.fa
      :color rgb(80,80,80)
  h3
    :font-weight 300
    :font-size 1.3rem
    :color rgb(100,100,100)
    :margin
      :top 2.4rem
      :bottom 2rem
    span.fa
      :font-size 0.9rem
      :float right
      :color rgb(200,200,200)

input
  :margin 0
table
  +table
.label
  +form_label
.text_field 
  input
    +form_text_field
  button
    +button($color_primary)
.textarea input
  +form_textarea
.checkbox input
  +form_checkbox
.radio_button
  +form_radio_button

