= form_field
  :margin
    :bottom ms(-1)

= form_label
  :display block
  :font-size $form_font_size

= form_text_field
  :outline none
  :border $form_border
  :padding $form_padding
  :font-size $form_font_size
  +box-shadow(inset 0 1px 2px rgba(0, 0, 0, 0.18))
  :float $default-float
  :margin
    :right $form_margin_right


= form_password_field
  +form_text_field

= form_checkbox
  :display inline-block
  :font-size $form_selector_font_size
  &:not(:first-child)
    :margin 
      :left $form_margin_right

= form_textarea
  :outline none
  :border $form_border
  :padding $form_padding
  :font-size $form_font_size
  +box-shadow(inset 0 1px 2px rgba(0, 0, 0, 0.18))
  :width 100%
  :height ms(3)
  :word-wrap break-word

= form_radio_button
  :margin
    :right ms(-2)
    :top ms(-4)
  :display inline-block
  input
    :margin 0
    :font-size $form_selector_font_size
    &:not(:first-child)
      :margin 
        :left $form_margin_right

= form_inline_box($inline_form_width, $color_theme, $form_color)
  $selector_background : contrast-color($form_color, darken($form_color, 45%), lighten($form_color, 60%), 60%)
  :width $inline_form_width
  :display block
  :margin ms(1) auto
  :background darken($color_background, 10%)
  :padding ms(1)
  .inline_header
    :text-align center
    :margin
      :bottom ms(0)
    :font-size ms(1)
    :border
      :bottom 1px dotted darken($color_background, 40%)
  .inline_text_field
    :padding
      :bottom ms(-1)
    input
      :width 100%
      :outline none
      :border $form_border
      :padding $form_padding
      :font-size $form_font_size
      +box-shadow(inset 0 1px 2px rgba(0, 0, 0, 0.18))
      :margin
        :right $form_margin_right
      :display block
      :margin 0 auto
  .inline_textarea
    :padding
      :bottom ms(-1)
    :word-wrap break-word
    input
      :outline none
      :border $form_border
      :padding $form_padding
      :font-size $form_font_size
      +box-shadow(inset 0 1px 2px rgba(0, 0, 0, 0.18))
      :height ms(3)
      :width 100%
      :word-wrap break-word
  .inline_selector
    :background darken($color_background, 2%)
    :display inline-block
    :font-size $form_selector_font_size
    :width 100%
    :padding ms(-1)
    :margin
      :bottom ms(-1)
  button
    +button($color_theme)
    :display block
    :margin ms(0) 0 0 auto
