.page_heading
  .page_title Class Assignments

.pa Since everything in Monster-Style is done with mixins, you can easily reassign most class names and play with your colour scheme-ing.
.pa For instance if you don't want to use '.button' for your button styling you can just reassign the '+button($color)' mixin to '.btn' or whatever you want.
.pa For Gem users this file will generate in the 'monsterstyle' folder, and you will need to have referenced it in your application file.
.pa Otherwise you can find it in the 'theme' folder.
.break
.strong See the default class assignments below:
.break
