.page_heading
  .page_title Variables

.catch The Power of Customization
.pa We distilled the options for your application into a simple variable list. We've set some default options for you.
.pa For Gem users this file will generate in the 'monsterstyle' folder, and you will need to have referenced it in your application file.
.pa Otherwise you can find it in the 'theme' folder.
.break
.strong See the default variables below:
.break
