$color_primary    : #428bca
$color_success    : #5cb85c
$color_info       : #5bc0de
$color_warning    : #f0ad4e
$color_danger     : #d9534f
$color_disabled   : rgb(200, 200, 200)
$color_background : rgb(255, 255, 255)
$color_text       : rgb(0, 0, 0)
$color_comp       : adjust-hue($color_primary, 180%)

$ms-base: 16px
$ms-ratio: $golden

$font_family_sans_serif : 'Open Sans', Helvetica, Arial, sans-serif
$font_family_serif      : Georgia, "Times New Roman", Times, serif
$font_family_monospace  : Monaco, "Courier New", monospace
$font_family_base       : $font_family_sans_serif

$default_float : left

$button_font_weight         : normal
$button_font_size           : ms(0)
$button_padding             : ms(-1)

$button_default_color       : #333
$button_default_bg          : #fff
$button_default_border      : #ccc


$table-bg               : $color_background
$table-even-row-bg      : darken($color_background, 10%)

$table-border-style     : solid
$table-border-size      : 1px
$table-border-color     : darken($color_background, 20%)

$table-head-bg          : darken($color_background, 20%)
$table-head-font-size   : ms(0)
$table-head-font-color  : $color_text
$table-head-font-weight : 700
$table-head-padding     : ms(-2) ms(-2) ms(-1)

$table-row-padding      : ms(-2) ms(-1)
$table-row-font-size    : ms(-1)
$table-row-font-color   : $color_text
$table-line-height      : ms(1)

$table-display          : table-cell
$table-margin-bottom    : ms(2)

