$color_primary    : #428bca
$color_success    : #5cb85c
$color_info       : #5bc0de
$color_warning    : #f0ad4e
$color_danger     : #d9534f
$color_disabled   : rgb(200, 200, 200)
$color_background : rgb(255, 255, 255)
$color_text       : rgb(0, 0, 0)

$ms-base: 16px
$ms-ratio: $golden

$font_family_sans_serif : "Helvetica Neue", Helvetica, Arial, sans_serif
$font_family_serif      : Georgia, "Times New Roman", Times, serif
$font_family_monospace  : Menlo, Monaco, Consolas, "Courier New", monospace
$font_family_base       : $font_family_sans_serif

$button_font_weight         : normal
$button_font_size           : ms(0)
$button_padding             : ms(-1)

$button_default_color       : #333
$button_default_bg          : #fff
$button_default_border      : #ccc

$button_primary_color       : #fff
$button_primary_bg          : $color_primary
$button_primary_border      : darken($button_primary_bg, 5%)

$button_success_color       : #fff
$button_success_bg          : $color_success
$button_success_border      : darken($button_success_bg, 5%)

$button_info_color          : #fff
$button_info_bg             : $color_info
$button_info_border         : darken($button_info_bg, 5%)

$button_warning_color       : #fff
$button_warning_bg          : $color_warning
$button_warning_border      : darken($button_warning_bg, 5%)

$button_danger_color        : #fff
$button_danger_bg           : $color_danger
$button_danger_border       : darken($button_danger_bg, 5%)

$button_link_disabled_color : $color_disabled

