.label
  Text Field and Button
.input_group
  %input{type: 'text'}
  %button.input_button_group{type: 'button'}
    Submit
.clear

.label
  Checkbox, Text Field and Button
.input_group
  .input_selector_group_label
    Check
  .input_checkbox_group
    %input{type: 'checkbox'}
  %input{type: 'text'}
  %button.input_button_group{type: 'button'}
    Submit

.clear
.label
  Radio Buttons
.input_group
  .input_radio_group
    %input{type: 'radio'}
  .input_selector_group_label
    One
  %input{type: 'text'}
  %button.input_button_group{type: 'button'}
    Submit

