.page_heading
  .page_title Forms

%a.subtitle{href: '#variables'}
  %h3
    %span Variables
    %span.fa.fa-link

%a.subtitle{href: '#mixins'}
  %h3
    %span Mixins
    %span.fa.fa-link

%table.listing
  %tr
    %td.code table
    %td.default
      %span 24px
    %td.desc applies default table styling


.text_field
  .label
    Text Field
  %input{type: 'text'}
  %button{type: 'button'}
    Submit
.textarea
  .label
    Text Area
  %input{type: 'textarea'}
.checkbox
  .label
    Checkboxes
  %input{type: 'checkbox'}
    Option 1
  %input{type: 'checkbox'}
    Option 2
.radio_button
  .label
    Radio Buttons
  %input{type: 'radio'}
    One
  %input{type: 'radio'}
    Two

