.page_heading
  .page_title Tables

.samples
  .preview
    = partial 'code/basic_table'
  .code
    %pre.highlight
      %code
        = h partial('code/basic_table')
  .code
    %pre.highlight
      %code
        = h partial('code/style_basic_table')
