.page_heading
  .page_title Button Groups
.button_group
  .button.active
    Button
  .button
    Button
  .button
    Button
  .button
    Button

.clear

.button_group
  %a.button.active
    Button
  %a.button
    Tricksy
