.text_field
  .label
    Text Field
  %input{type: 'text'}
  %button{type: 'button'}
    Submit
.clear
.textarea
  .label
    Text Area
  %input{type: 'textarea', wrap: 'hard'}
.clear
.label
  Checkboxes
.checkbox
  %input{type: 'checkbox'}
    Option 1
  %input{type: 'checkbox'}
    Option 2
.clear
.label
  Radio Buttons
.radio_button
  %input{type: 'radio'}
    One
  %input{type: 'radio'}
    Two
.form_inline_box
  .inline_text_field
    .label
      Text Field
    %input{type: 'text'}
  .clear
  .inline_textarea
    .label
      Text Area
    %input{type: 'textarea', wrap: 'hard'}
  .clear
  .label
    Checkboxes
  .inline_selector
    %input{type: 'checkbox'}
      Option 1
    %input{type: 'checkbox'}
      Option 2
  .clear
  .label
    Radio Buttons
  .inline_selector
    %input{type: 'radio'}
      Male
    .clear
    %input{type: 'radio'}
      Female
    .clear
    %input{type: 'radio'}
      Other, and it requires a rather long description so don't ask me about it.
  %button{type: 'button'}
    Submit

