.text_field
  .label
    Text Field
  %input{type: 'text'}
  %button{type: 'button'}
    Submit
.textarea
  .label
    Text Area
  %input{type: 'textarea'}
.checkbox
  .label
    Checkboxes
  %input{type: 'checkbox'}
    Option 1
  %input{type: 'checkbox'}
    Option 2
.radio_button
  .label
    Radio Buttons
  %input{type: 'radio'}
    One
  %input{type: 'radio'}
    Two
