.label
  Image Large Rounded
%img.rounded{src: "http://www.coolcota.com/wp-content/uploads/2013/07/Cool-Tent-Designs-We-Love-Main.jpg"}/
.clear
.label
  Image Medium Circle
%img.circle{src: "http://www.coolcota.com/wp-content/uploads/2013/07/Cool-Tent-Designs-We-Love-Main.jpg"}/
.clear
.label
  Image Small Thumbnail
%img.thumbnail{src: "http://www.coolcota.com/wp-content/uploads/2013/07/Cool-Tent-Designs-We-Love-Main.jpg"}/
