.column
  .group
    .title Getting Started
    %a{href: '#'} Yee
  .group
    .title Configuration
    %a.variables{href: '/configuration/variables/'} Variables
  .group
    .title Basic Components
    %a.forms{href: '/basic_components/forms/'}   Forms
    %a.buttons{href: '/basic_components/buttons/'} Buttons
    %a.tables{href: '/basic_components/tables/'}  Tables
    %a.images{href: '/basic_components/images/'} Images
  .group
    .title Complex Components
    %a.dropdowns{href: '/complex_components/dropdowns/'} Dropdowns
    %a.button_groups{href: '/complex_components/button_groups/'} Button groups
    %a.button_dropdowns{href: '/complex_components/button_dropdowns/'} Button dropdowns
    %a.input_groups{href: '/complex_components/input_groups/'} Input groups
    %a.navs{href: '/complex_components/navs/'} Navs
    %a.panels{href: '/complex_components/panels/'} Panels
  .group
    .title Examples
