.column
  .group
    .title Getting Started
    %a.active{href: '#'} Yee
  .group
    .title Configuration
    %a{href: '/configuration/variables/'} Variables
  .group
    .title Basic Components
    %a{href: '/basic_components/forms/'}   Forms
    %a{href: '/basic_components/buttons/'} Buttons
    %a{href: '/basic_components/tables/'}  Tables
    %a{href: '#'} Images
  .group
    .title Complex Components
    %a{href: '/basic_components/dropdowns/'} Dropdowns
    %a{href: '/basic_components/dropdowns/'} Button groups
    %a{href: '/basic_components/dropdowns/'} Button dropdowns
    %a{href: '/basic_components/dropdowns/'} Input groups
    %a{href: '/basic_components/dropdowns/'} Navs
    %a{href: '/basic_components/dropdowns/'} Panels
  .group
    .title Examples
