.column
  .group
    .title Getting Started
    %a{href: '#'} Yee
  .group
    .title Configuration
    %a{href: '/configuration/variables.html'} Variables
  .group
    .title Basic Components
    %a{href: '/basic_components/forms.html'}   Forms
    %a{href: '/basic_components/buttons.html'} Buttons
    %a{href: '/basic_components/tables.html'}  Tables
    %a{href: '#'} Images
  .group
    .title Complex Components
  .group
    .title Examples
